vscode*
VS*/*
VSCode*
VSCodium*
.DS_Store
*.env
assets/
build/windows/msi/releasedir
build/windows/msi/Files*.wxs
build/windows/msi/Files*.wixobj
sourcemaps/

# Ignore entire patches folder (contains modified patches during build)
patches/

# Ignore build logs & vscode folder
build.log
.vscode/
vscode/
